<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Home" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Ingresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-item>
    <ion-label></ion-label>
    <ion-input placeholder="Nombre Usuario"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label></ion-label>
    <ion-input placeholder="Contraseña" type="password"></ion-input>
  </ion-item>
  
  <ion-button expand="full" routerLink="/usuario">Ingresar</ion-button>


</ion-content>