<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title color="primary">Proyectos realizados</ion-card-title>
      
    </ion-card-header>
    <p>Proyectos realizados por la empresa</p>

    <ion-card-content>
      <img src="../assets/img/proyects.png">

      <ion-button expand="full" routerLink="/login">Iniciar Sesion</ion-button>
      <br>
      <h2 class="Sans Serif">¿Estas registrado?</h2>
      <br>
      <h2 class="Sans Serif"> </h2>
      <ion-button expand="full" routerLink="/registro">Registrate con nosotros</ion-button>
    </ion-card-content>

  </ion-card>
</ion-content>
