<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Home" defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label></ion-label>
    <ion-input placeholder="Nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label></ion-label>
    <ion-input placeholder="Alias"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label></ion-label>
    <ion-input placeholder="E-mail" type="E-mail"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label></ion-label>
    <ion-input placeholder="Contraseña" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label></ion-label>
    <ion-input placeholder="Repetir Contraseña" type="password"></ion-input>
  </ion-item>

  <ion-button expand="full" routerLink="/registrado">Registrar</ion-button>

</ion-content>
